# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.GreinerStruct.iml
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\geomo\source\repos\FlauschigDings\GreinerStruct\.idea\.idea.GreinerStruct\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
